/* H5模板 */
* {
    margin: 0;
    padding: 0;
}
a, img {
    /* 禁止长按链接与图片弹出菜单 */
    -webkit-touch-callout: none;
}
a, button {
    cursor: pointer;
    outline: none;
}
html, body {
    /* 禁止选中文本（如无文本选中需求，此为必选项） */
    -webkit-user-select: none;
    user-select: none;
    height: 100%;
    font-family: 宋体, serif;
}
body {
    position: relative;
    overflow: hidden;
    background-color: #666;
}
@media screen and (min-width: 500px) {
    body {
        max-width: 340px;
        margin: 0 auto;
    }
}
/* 页面CSS */
#share {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
}
#bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}
header {
    padding: 0.3em;
    height: 1.4em;
}
header img {
    height: 100%;
}
#vote {
    position: relative;
}
#vote-header {
    margin-left: 0.5em;
    white-space: nowrap;
}
#vote-header img {
    height: 2.6em;
}
#vote-header span {
    display: inline-block;
    margin-top: .65em;
    padding: .2em;
    color: #999;
    background: rgba(255, 255, 255, 0.2);
    font-size: .75em;
    vertical-align: top;
}
#vote-map {
    position: relative;
    margin-top: -1.5em;
    width: 100%;
    height: 13em;
}
#vote-map img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#vote-ok {
    position: absolute;
    left: 5%;
    top: 20%;
    color: #fff;
    font-size: 1em;
    opacity: 0;
}
.vote-ok-indicate {
    -webkit-animation: vote-ok-animation 1s;
    -o-animation: vote-ok-animation 1s;
    animation: vote-ok-animation 1s;
}
@keyframes vote-ok-animation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-2em);
        -moz-transform: translateY(-2em);
        -ms-transform: translateY(-2em);
        -o-transform: translateY(-2em);
        transform: translateY(-2em);
    }
}
#vote-map button {
    position: absolute;
    padding: 1em;
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: .5em;
    text-shadow: #000 1px 1px 1px;
    line-height: 1.5;
}
#vote-map button[data-id="0"] {
    left: 12%;
    top: 30%;
}
#vote-map button[data-id="1"] {
    left: 32%;
    top: 10%;
}
#vote-map button[data-id="2"] {
    left: 50%;
    top: 26%;
}
#vote-map button[data-id="3"] {
    left: 47%;
    top: 55%;
}
#vote-map button[data-id="4"] {
    left: 23%;
    top: 64%;
}
#vote-map button[data-id="5"] {
    left: 67%;
    top: 17%;
}
#vote-map button[data-id="6"] {
    left: 67%;
    top: 38%;
}
#vote-map button[data-id="7"] {
    left: 77%;
    top: 66%;
}
#danmaku h1 {
    position: absolute;
    color: #92969c;
    margin: .5em;
    font-size: .7em;
    font-weight: normal;
}
#danmaku-wrapper {
    margin: -.5em 0 .3em;
    height: 9em;
    background: rgba(255, 255, 255, .2);
}
#danmaku-send {
    margin-left: 0.5em;
    white-space: nowrap;
}
#danmaku-send img {
    height: 2.6em;
}
#danmaku-send span {
    display: inline-block;
    margin-top: 1.3em;
    width: 80%;
    color: #999;
    font-size: .75em;
    vertical-align: top;
}
#danmaku-send input {
    color: #fff;
    padding: .2em;
    max-width: 60%;
    background: rgba(255, 255, 255, .2);
    font-size: 1em;
    border: none;
}
#danmaku-send button {
    margin: -.2em;
    padding: .2em .3em;
    color: #fff;
    background-color: #31c2de;
    font-size: 1em;
    border: none;
    border-radius: .2em;
}
